@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Russo+One&display=swap');

*
{
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

.topnav
{
    background-color: #070566;
    overflow: hidden;
}


#logo
{
    font-family: Russo One, sans-serif;
    color: #85E309;
    letter-spacing: 4px;
    line-height: 80px;
    font-size: 290%;
    float: left;
    margin-left: 30px;
    margin-top: 15px
}

#logo i
{
    font-size: 90%;
}


/* navigation links */

#menu
{
    font-size: 120%;
    letter-spacing: 1px;
    line-height: 80px;
}

#menu li
{
    float: right;
    display: block;
    color: #85E309;
    margin-right: 10px;
    list-style-type: none;
    margin-top: 10px;
}

#menu a
{
    text-decoration: none;
    color: inherit;
}

#menu a:hover
{
    border-bottom: 2px solid #85E309;
}

.active
{
    border-bottom: 2px solid #85E309;
}

/* hero image */


#hero-outer
{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image
{
    height: 600px;
    width: 100%;
    object-fit: cover;
}


#cover-text
{
    margin: auto;
    width: auto;
    height: auto;
    margin-right: 25px;
    margin-left: 25px;
    background-color: rgba(247, 60, 72, 0.8);
    position: absolute;
    top: 280px;
    text-align: center;
    padding-top: 20px;
}

#cover-text h2
{
    padding-bottom: 10px;
    font-size: 170%;
}

#cover-text h2, #cover-text h3
{
    font-family: Raleway, sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    font-weight: bold;
}

#cover-text h3
{
    font-size: 160%;
    padding-bottom: 20px;
}


#about
{
    background-color: #d9f3fa;
    padding: 80px;
}

#about p
{
    text-align: center;
    margin: 35px 0;
    font-size: 130%;
    color: black;
}

.break-line
{
    width: 95%;
    height: 1.5px;
    background-color: black;
    margin: 0 auto;
    border-radius: 5px;
}

.tournaments-header
{
    font-size: 190%;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

#tournaments-list
{
    font-size: 130%;
    color: black;
    list-style: none;
}

.link
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    font-size: 110%;    
    text-decoration: underline;
    margin: 15px;
}

.link:hover
{
    color: #08bf63
}

/* footer*/

footer 
{
    height: 150px;
    background-color: #070566;
}

.social-networks
{
    text-align: center;
}


.social-networks > li
{
    display: inline;
}

.social-networks i
{
    font-size: 220%;
    color: #85E309;
    margin: 1%;
    padding: 2%;
}

.social-networks i:hover
{
    color: white;
}

.mention
{
    font-size: 110%;
    color: #fff;
}

/* events page */

.slam-events
{
    text-align: center;
}

.competitions
{
    width: 100%;
}

.competitions h3
{
    font-size: 180%;
    font-weight: bold;
    color: #034e61;
    text-align: center;
    padding-top: 5px;
}

.each-open
{
    background-color: #a2c4c9;
    width: 100%;
    height: 44px;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

.icons-image
{
    max-width: 100%;
    margin: 0 auto;
}

.container-details-one, .container-details-two
{
    padding-top: 60px;
    text-align: center;
    line-height: 50px;
    max-width: 95%;
}

.container-details-one i, .container-details-two i
{
    font-size: 150%;
    padding-right: 5px;
}


.container-details-one li, .container-details-two li
{
    font-size: 110%;
    vertical-align: middle;
    display: block;
    justify-content: center;
    flex-direction: column;
}

.tennis-image-one, .tennis-image-two
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.tennis-image-one img, .tennis-image-two img
{
    border-radius: 10px;
    max-width: 95%;
}

.intro
{
    font-size: 120%;
}

.more-details
{
    margin: 0 auto;
    max-width: 90%;
    clear: both;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

h5
{
    font-size: 150%;
    text-decoration: underline;
    padding-bottom: 20px;
}

.more-details p
{
    font-size: 120%;
    line-height: 25px;
    margin-bottom: 30px;
}


.more-details a
{
    font-size: 110%;
}

.more-details a:hover
{
    color: #85E309;
}

.map-one, .map-two
{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 500px;
}

/* players page */

#players
{
    background-color: #a2c4c9;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 44px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#cards
{
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20px;
}

#players h2{
    color: #034e61;
    width: auto;
    text-align: center;
    font-size: 170%;
    font-weight: bold;
}

.gender
{
    color: #070566;
    text-decoration: underline;
    text-align: center;
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.players-men, .players-women
{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

#left, #center, #right
{
    display: inline-block;
    line-height: 170%;
    font-size: 115%;
    border: 2px solid red;
    background-color: #f4fcd2;
    padding: 5px; 
    margin-bottom: 15px;
    width: 320px;
}

#left ul, #center ul, #right ul
{
    list-style-type: none;
    line-height: 170%;
    font-size: 100%;
}

#center
{
    margin: 0;
    max-width: 90%;
}

#left:hover, #center:hover, #right:hover
{
    background-color: #d2edfc;
}

.names
{
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
}


.sm-names
{
    text-align: right;
    font-size: 120%;
}

.sm-names i
{
    font-size: 120%;
}

.sm-names a:hover
{
    color: #d60202;
}

/* videos section */ 

#best-videos
{
    background-color: #a2c4c9;
    width: auto;
}

#video-header
{
    font-size: 140%;
    color: #070566;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 20px;
}

#video-header:hover
{
    transform: scale(1.2);
}

.videos
{
    padding-top: 10px;
    clear: both;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}


.responsive-video
{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
    width: 560px;
    max-width: 95%;
    max-height: 100%;
}

/* signup form */

.form-section
{
    clear: left;
    background: url(/assets/images/form-background.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-bottom: 40px
}

#full-form
{
    padding-top: 20px;
    object-fit: contain;
    margin-left: 10px;
}


.signup-form
{
    max-width: 650px;
    background-color: rgba(255, 0, 177, 0.8);
    color: #ffffff;
    left: 10%;
    border-radius: 4px;
    text-align: center;
}

legend
{
    font-size: 130%;
    font-weight: bolder;
    text-align: center;
    padding-top: 3%;
}

.signup-form label
{
    color: #ffffff;
    font-size: 100%;
}

.form-inputs label
{
    display: inline-block;
    width: 150px;
}

#radio
{
    text-align: center;
}

.form-inputs 
{
    line-height: 50px;
}

.form-inputs input
{
    width: 200px;
}


input[type=text], input[type=email]
{
    border: 1px solid black;
    border-radius: 4px;
    height: 17px;
    width: 100px;
}

.radio-preference
{
    font-size: 140%;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 10px;
}

#radio
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 95%;
}


#button
{
    font-size: 110%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #070566;
    border-radius: 5px;
    position: relative;
    float: right;
    margin-right: 20px;
    margin-bottom: 15px;
}

#button:hover
{
    background-color: #3a3a3a;
    color: #ffffff;
}

/* Media Queries */




/* for medium screen sizes from 950px wide and down */

@media-screen and (max-width: 950px)
{
    #menu
    {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 30px;
    }

    #cover-text
    {
        left: 0;
    }
}

@media screen and (max-width: 800px)
{
    .container-details-one, .container-details-two
    {
        margin-left: 5px;
    }

    #full-form
    {
        margin-left: 7px;
        margin-right: 7px;
    }
}