@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Russo+One&display=swap');

*
{
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

.topnav
{
    background-color: #070566;
    overflow: hidden;
    height: 100px;
    width: 100%;
}


#logo
{
    font-family: Russo One, sans-serif;
    color: #85E309;
    letter-spacing: 4px;
    font-size: 300%;
    float: left;
    margin-left: 30px;
    margin-top: 20px
}

h2, h3
{
    font-family: Raleway;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 500;
}

/* navigation links */

#menu
{
    float: right;
    font-size: 130%;
    letter-spacing: 3px;
    display: flex;
    justify-content: flex-end;
    line-height: 80px;
}

#menu li
{
    list-style: none;
    color: #85E309;
    margin-right: 30px;
}

#menu a
{
    text-decoration: none;
    color: inherit;
}

#menu a:hover
{
    border-bottom: 2px solid #85E309;
}

.active
{
    border-bottom: 2px solid #85E309;
}

/* hero image */


#hero-outer
{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image
{
    height: 600px;
    width: 100%;
    object-fit: cover;
}


#cover-text
{
    margin: auto;
    background-color: #eb3f5f;
    opacity: 0.5;
    position: absolute;
    width: 90%;
    height: 200px;
    top: 280px;
    text-align: center;
    font-family: Raleway, sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    font-size: 170%;
    font-weight: bold;
}


#about
{
    background-color: #d9f3fa;
    padding: 80px;
}

#about p
{
    text-align: center;
    margin: 35px 0;
    font-size: 130%;
    color: black;
}

.break-line
{
    width: 95%;
    height: 1.5px;
    background-color: black;
    margin: 0 auto;
    border-radius: 5px;
}

.tournaments-header
{
    font-size: 190%;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

#tournaments-list
{
    font-size: 130%;
    color: black;
    list-style: none;
}

.link
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    font-size: 110%;    
    text-decoration: underline;
    margin: 15px;
}

.link:hover
{
    color: #08bf63
}

/* footer*/

footer 
{
    height: 150px;
    background-color: #070566;
}

.social-networks
{
    text-align: center;
}


.social-networks > li
{
    display: inline;
}

.social-networks i
{
    font-size: 220%;
    color: #85E309;
    margin: 1%;
    padding: 2%;
}

.social-networks i:hover
{
    color: white;
}

.mention
{
    font-size: 110%;
    color: #fff;
}

/* events page */

.slam-events
{
    text-align: center;
}

.competitions
{
    width: 100%;
}

.competitions h3
{
    font-size: 180%;
    font-weight: bold;
    color: #034e61;
}

#each-open
{
    background-color: #a2c4c9;
    width: 100%;
    height: 44px;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.icons-image
{
    width: 95%;
    margin: 0 auto;
}

#container-details-one
{
    padding-top: 90px;
    float: left;
    margin-left: 120px;
    line-height: 50px;
}

#container-details-one h4
{
    font-size: 130%;
}

#container-details-two h4
{
    font-size: 130%;
}

#tennis-image-one img
{
    border-radius: 25px;
}

#tennis-image-two img
{
    border-radius: 25px;
}

#tennis-image-one
{
    max-width: 40%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    float: right;
}

#tennis-image-two
{
    max-width: 40%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    float: left;
    padding-top: 50px;
}

.intro
{
    font-size: 120%;
}

#container-details-two
{
    padding-top: 90px;
    float: right;
    margin-right: 100px;
    line-height: 50px;
}

.more-details
{
    width: 80%;
    margin: auto;
    clear: both;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

h5
{
    font-size: 150%;
    text-decoration: underline;
    padding-bottom: 20px;
}


.more-details p
{
    font-size: 110%;
}


.more-details a
{
    font-size: 110%;
}

.more-details a:hover
{
    color: #85E309;
}

/* players page */

#players
{
    background-color: #a2c4c9;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 44px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.player-cards
{
    margin: 0 auto;
    clear: both;
    width: 100%;
}

#players h2{
    color: #034e61;
    font-size: 180%;
    font-weight: bold;
}

#gender
{
    color: #070566;
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 15px;
}

#players-left, #players-right
{
    display: inline-block;
    border: 2px solid red;
    background-color: #f4fcd2;
    width: 350px;
    padding-left: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 15px;
}

#players-left:hover, #players-right:hover
{
    background-color: #d2edfc;
}

#names
{
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
}
#players-right ul, #players-left ul
{
    list-style-type: none;
    line-height: 170%;
}

.sm-names
{
    text-align: right;
}

.sm-names i
{
    font-size: 120%;
}

/* videos section */ 
#best-videos
{
    background-color: #a2c4c9;
    max-width: 100%;
}

#video-header
{
    font-size: 140%;
    color: #070566;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 20px;
}

#player-videos
{
    display: inline-block;
    list-style-type: none;
}

#video-header:hover
{
    transform: scale(1.2);
}

.videos
{
    padding-top: 10px;
    clear: both;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.videos li 
{
    padding: 20px;
    padding-bottom: 50px;
}

/* signup form */

.form-section
{
    clear: left;
    background: url(/assets/images/form-background.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-bottom: 40px
}


.signup-form
{
    max-width: 650px;
    background-color: rgba(255, 0, 177, 0.7);
    color: #ffffff;
    left: 10%;
    border-radius: 4px;
}

legend
{
    font-size: 130%;
    font-weight: bolder;
    text-align: center;
    padding-top: 3%;
    margin: 3%;
}

.signup-form label{
    color: #ffffff;
    font-size: 120%;
}

label, input, #radio
{
    text-align: center;
}

.form-inputs
{
    padding: 10px;
    text-align: center;
    line-height: 50px;
}

#radio
{
    line-height: 200%
}


#button
{
    font-size: 110%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #070566;
    border-radius: 5px;
    position: relative;
    float: right;
    margin-right: 20px;
    margin-bottom: 15px;
}
