@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Russo+One&display=swap');

*
{
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

.topnav
{
    background-color: #070566;
    overflow: hidden;
    height: 100px;
}


#logo
{
    font-family: Russo One, sans-serif;
    color: #85E309;
    letter-spacing: 4px;
    font-size: 300%;
    float: left;
    margin-left: 30px;
    margin-top: 20px
}

h2, h3
{
    font-family: Raleway;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 500;
}

/* navigation links */

#menu
{
    float: right;
    font-size: 130%;
    letter-spacing: 3px;
    display: flex;
    justify-content: flex-end;
    line-height: 80px;
}

#menu li
{
    list-style: none;
    color: #85E309;
    margin-right: 30px;
}

#menu a
{
    text-decoration: none;
    color: inherit;
}

#menu a:hover
{
    border-bottom: 2px solid #85E309;
}

.active
{
    border-bottom: 2px solid #85E309;
}

/* hero image */


#hero-outer
{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#hero-image{
    height: 600px;
    width: 100%;
    background: url('//assets/images/hero-image.jpg') no-repeat center-center;
    background-size: cover;
}

#cover-text
{
    font-size: 200%;
    font-family: Raleway, sans-serif;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;

    width: 500px;
    height: 200px;

    top: 50%;
    left: 50%;
    position: absolute;
}

#about
{
    background-color: #d9f3fa;
    padding: 80px;
}

#about p
{
    text-align: center;
    margin: 35px 0;
    font-size: 130%;
    color: black;
}

.break-line
{
    width: 95%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
}

.tournaments-header
{
    font-size: 190%;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

#tournaments-list
{
    font-size: 130%;
    color: black;
    list-style: none;
}

.link
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    font-size: 110%;    
    text-decoration: underline;
    margin: 15px;
}

.link:hover
{
    color: #08bf63
}

/* footer*/

footer 
{
    height: 150px;
    background-color: #070566;
}

.social-networks
{
    text-align: center;
}


.social-networks > li
{
    display: inline;
}

.social-networks i
{
    font-size: 220%;
    color: #85E309;
    margin: 1%;
    padding: 2%;
}

.social-networks i:hover
{
    color: white;
}

.mention
{
    font-size: 110%;
    color: #fff;
}

.slam-events
{
    text-align: center;
}


.each-open
{
    color: #034e61;
    font-weight: 1000;
}
